<!DOCTYPE html>
<html>

<head>
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>

</head>

<body>
  <div aurelia-app="main">
    Loading ..

  </div>
  <script>
    window.nodeRequire = require;
    delete window.require;
    delete window.exports;
    delete window.module;
  </script>

  <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>