.header {
	background-color: $color-divider;
	height: $header-height;
	right: 0;
	transition: left 0.3s ease;
	z-index: 10;
	margin-bottom: 5px;

	display: flex;
	align-items: center;
	justify-content: space-between;


	@include media-down(md) {
		left: 0;
		position:fixed;
	}

	@include media-down(sm) {
		left: 0;
		height: $header-height-xs;
	}

	.header-fixed & {
		position: fixed;
	}

	.header-block {
		@include media-down(sm) {
			padding: 5px;
		}
	}

	.brand {
		a{
			padding: 10px 20px 10px 20px;
			color: $color-text;
			text-decoration: none;
			border: 0px;
			border-right: 1px;
			border-color: darken($color-divider, 25%);;
			border-style: solid;
		}
		
		font-family: 'Berkshire Swash', Helvetica, sans-serif;
		text-align: left;
		
		line-height: $header-height;
		font-size: 26px;

		img {
			margin-right: 5px;
			margin-left: 5px;
			 -webkit-filter : hue-rotate(45deg);
    		filter : hue-rotate(45deg);
		}

	}
	
}

