@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);



@import '_common/_styles/_mixins.scss';
@import '_common/_styles/layout.scss';
@import '_common/_styles/misc.scss';
@import '_common/_styles/typography.scss';

@import '_common/alert/alert.scss';
@import '_common/animations/animations.scss';
@import '_common/button/button.scss';
@import '_common/card/card.scss';
@import '_common/chart/chart.scss';
@import '_common/dropdown/dropdown.scss';
@import '_common/flex/flex.scss';
@import '_common/form/form.scss';
@import '_common/images-container/images-container.scss';
@import '_common/items-list/items-list.scss';
@import '_common/logo/logo.scss';
@import '_common/modal/modal-tabs.scss';
@import '_common/navigation/navigation.scss';
@import '_common/nprogress/nprogress.scss';
@import '_common/pagination/pagination.scss';
@import '_common/scrollbar/scrollbar.scss';
@import '_common/table/table.scss';
@import '_common/table/table.scss';


html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: $color-text;
	overflow-x: hidden;
}

.main-wrapper {
	width: 100%;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#ref {
	.color-primary {
		color: $color-primary;
	}

	.chart {
		.color-primary {
			color: $chart-color-primary;
		}
		.color-secondary {
			color: $chart-color-secondary;
		}
	}
}