<!DOCTYPE html>
<html>

<head>
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>

</head>

<body>
  <div aurelia-app="main">
    <div class="spinner">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
    <style>
      .spinner {
        -webkit-animation: sk-rotate 2.0s infinite linear;
        animation: sk-rotate 2.0s infinite linear;
        margin: 100px auto;
        position: relative;
        text-align: center;
        width: 30px;
        height: 30px;
      }

      .circle1,
      .circle2,
      .circle3 {
        width: 60%;
        height: 60%;
        border-radius: 100%;
        top: 0;
        background-color: #8363FF;

        display: inline-block;
        position: absolute;
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }

      .circle2 {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }

      .circle3 {
        top: auto;
        left: 0;
        -webkit-animation-delay: -1.5s;
        animation-delay: -1.5s;
      }

      @-webkit-keyframes sk-rotate {
        100% {
          -webkit-transform: rotate(360deg)
        }
      }

      @keyframes sk-rotate {
        100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg)
        }
      }

      @-webkit-keyframes sk-bounce {
        0%,
        100% {
          -webkit-transform: scale(0.0)
        }
        50% {
          -webkit-transform: scale(1.0)
        }
      }

      @keyframes sk-bounce {
        0%,
        100% {
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        }
        50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
      }
    </style>
  </div>
  <script>
    window.nodeRequire = require;
    delete window.require;
    delete window.exports;
    delete window.module;
  </script>

  <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>