body {
  margin: 0;
  background-color: #f4f4f4;
  color: #424242;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

md-well li a {
  background-color: white;
}


/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}


/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#trackItemMiniEdit {
  background: #f2f2f2;
  border-radius: 5px;
  height: 35px;
  top: 0px;
  margin-top: 75px;
  position: absolute;
}

#trackItemMiniEdit md-input input {
  
  height: 1rem;
  margin: 0;
}
#trackItemMiniEdit .input-field{
  margin-top:7px;
}



.navbar-brand {
  color: white;
  font-weight: 400;
  font-size: 26px;
  border: 0px;
  border-right: 1px;
  border-color: white;
  border-style: solid;
  padding-right: 10px;
}

.navbar-brand img {
  margin-right: 10px;
  margin-left: 10px;
  background: #fff;
  padding:2px;
  border-radius: 2px;
}




.aut-sort:before {
    font-family: FontAwesome;
    padding-right: 0.5em;
    width: 1.28571429em;
    display: inline-block;
    text-align: center;
}

.aut-sortable:before {
    content: "\f0dc";
}

.aut-asc:before {
    content: "\f160";
}

.aut-desc:before {
    content: "\f161";
}



input[type="color"] {
	width: 25px;
	height: 25px;
}

